[Desktop Entry]
Comment=
Encoding=UTF-8
Exec='/usr/games/lbreakout2'
GenericName=
Icon=package_games_arcade
Name=Breakout
Path=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
