[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=mathematica
Type=Application
InitialPreference=2
Categories=Application;Office;X-Generations-Base;
Exec=soffice -math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.stardivision.math
Name=OpenOffice.org
GenericName=Math
Comment=Create and edit scientific formulas and equations by using Math.
Comment[en]=Create and edit scientific formulas and equations by using Math.
Comment[de]=Wissenschaftliche Formeln erstellen und bearbeiten - Math macht's möglich.
Comment[es]=Crear y editar fórmulas científicas y ecuaciones con Math.
Comment[fr]=Math - Création et édition de formules scientifiques et d'équations
Comment[it]=Math vi permette di creare e modificare formule scientifiche ed equazioni.
Comment[ja]=Math を使用して、科学の公式や方程式を作成し、編集します。
Comment[ko]=Math를 사용하여 수식 및 공학용 수식을 만들고 편집합니다.
Comment[pt_BR]=Criar e editar fórmulas científicas e equações por meio do Math.
Comment[sv]=Skapa och redigera vetenskapliga formler och ekvationer med hjälp av Math.
Comment[zh_CN]=使用 Math 创建并编辑科学公式和方程式。
Comment[zh_TW]=建立與編輯數學使用的科學公式與方程式。
